html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: Roboto;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
}
nav {
    background-color: #1F2937;
    display: flex;
    justify-content: right;
    
}
nav ul {
    display: flex;
    /* justify-content: right; */
    /* justify-items: right; */
    gap: 50px;
    padding-right: 80px;
}
nav ul li {
    list-style: none;
    color: white;
    cursor: pointer;
    justify-content: right;
}
#header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    margin-right: 900px;
    padding: 15px;
}
#hero-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    width: 450px;
}
.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    width: 450px;
}
#image-placeholder {
    height: 200px;
    width: 500px;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
}
#section1 {
    background-color: #1F2937;
    padding: 50px 150px;
    display: flex;
}
#section2 {
    text-align: center;
    padding-bottom: 80px;
}
#section2-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 35px;
}
.square {
    border: 2px solid #3882F6;
    height: 140px;
    width: 140px;
    border-radius: 7px;
}
#card-grid {
    display: grid;
    grid-template-columns: repeat(4, 140px);
    justify-content: center;
    gap: 30px;
}
.card {
    display: flex;
    flex-direction: column;
    height: 200px;
    max-width: 120px;
    text-align: center;
}
.card-subtext {
    color: #1F2937;
    font-size: 13px;
    text-align: center;
    padding: 5px;
    width: 100%;
}
button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 6px 22px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
#section3 {
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#quote {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    /* padding: 150px; */
}
#quote-container {
    width: 800px;
}
#quote-attribute {
    position: absolute;
    right: 550px;
    font-weight: 900;
}

#inner-div {
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    color: white;
    margin: 100px;
    padding: 20px 80px;
    width: 800px;
}
#call-to-action {
    font-size: 24px;
    font-weight: 900;
}
#signup-button2 {
    border: 1px solid white;
    height: 30px;
    margin: auto;
}
footer {
    background-color: #1F2937;
    height: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section4 {
    display: flex;
    justify-content: center;
}